<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<nav th:fragment="nav" class="topnav">
    <a class="active" th:href="@{'/'}">Strona główna</a>
    <a th:href="@{'/movies/list'}">Repertuar kina</a>
    <a th:href="@{'/spectacles/list'}">Repertuar teatru</a>
    <a th:href="@{'/about'}">O nas</a>
    <a th:href="@{'/localization'}">Kontakt i lokalizacja</a>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"> <a th:href="@{'/movies/showForm'}">Dodaj film</a></div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"> <a th:href="@{'/spectacles/showForm'}">Dodaj spektakl</a></div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{'console'}">Baza danych</a></div>

    <div class="test">
        <a sec:authorize="!isAuthenticated()" class="nav-item"><a class="btn btn-outline-light" th:href="@{/login}">Zaloguj się</a></a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" id="logoutNavbarDropdown" role="button"
               aria-haspopup="true" aria-expanded="false" th:href="@{/logout}"> Wyloguj się
            </a>
        </a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" sec:authentication="name">
            </a>
        </a>
    </div>
</nav>

<div class="container my-2">
    <div class="card">

            <div class="container my-5">

                <p style="font-size:95%;" class="my-5" align="center">
                    <b>Nowo otwarte kino oraz teatr ELIOS serdecznie zaprasza w nasze skromne progi, mamy najlepsze ceny oraz najlepsze
                    premiery w stosunku do konkurencji! Posiadamy wtorkowe promocje -90% oraz darmowe niedziele. Zapraszamy!</b>
                </p>

                <p style="font-size:95%;" class="my-5" align="center">
                    <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2022/01/20/thumbs_b_c_aafe9b2e303bc9d2a17fe712fa10d888.jpg?v=153410">
                </p>
        </div>
    </div>
</div>

</body>
</html>